body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #141414;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #202020;
}

.logo h1 {
    color: red;
    font-size: 28px;
}

.logo button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.videos-sessao {
    padding: 20px;
}

.video-grade {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
    gap: 20px;
}

.video h3 {
    text-align: center;
    margin-top: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0 ,0.8);
}

.modal-content {
    background-color: #333;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    color: white;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.close:hover {
    color: white;
}

